

footer{
	margin-top:20px;
	padding:10px;
	background-image:linear-gradient(red, white); 
}
footer span{
	display:none;
}

/* apie sita nieko nesupratau kaip padaryti.tik nukopinau*/
.turinys::after, .desine::after {
	content: "";
	clear: both;          
	display: table;
}

 





.desine article{
	width:30%;
	text-align:justify;
	float:left;
	padding:1.5%;
	border:1px red;
} 

.desine{
	width:75%;
	border:1px solid green;
	margin-left: 25%;
}





header{
	padding:50px;
	background-image: url('virsus_bg.jpg');
	background-size:cover;

}

.vidinis, .vidinis2{
	
	position:absolute;
	display:none;
}


nav li{
	list-style-type:none;
	padding: 10px;
	cursor:pointer;
}

nav {
	position:relative;
	
}

nav ul{
	background-color:green;
	color:red;
}



.vidinis li{
	min-width:200px;
}

nav>ul>li{
	display:inline-block;
	margin-right:30px;
}


nav li:hover{
	background-color: lightblue;
	color:gray;
}

nav>ul>li:hover .vidinis{
	display: block;
	
}
nav>ul>li>ul>li:hover .vidinis2{
	display:block;
	
	
	
}
.vidinis2{
	left:200px;
}
	
.kaire{
	float:left;
	border:1px solid red;
	width:18%;
	background:yellow;
	background-image:url('gobelenas.jpg');
	background-size:cover;
	padding:50px 20px 150px 20px
	
	
}
.kaire a{
	display:block;
}